
#NOTINUSENOWusernavigation::before {
    content: "Am 00.00.0000 00:00 Uhr - 00:00 Uhr wird das DLC Onlinelernangebot nicht erreichbar sein.";
    display: block;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin: 100px auto 0 auto;
    padding: 20px;
    background-color: $dlc-color-orange-transparent-10;
    color: $dlc-default-orange;
    border-radius: 0.5em;
}

